<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 5.3//EN" "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">

<hibernate-configuration>  
	<session-factory>
		<property name="hbm2ddl.auto">create</property>
		<property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/rekest_db?serverTimezone=UTC</property>
		<property name = "hibernate.connection.username">root</property>
		<property name = "hibernate.connection.password">user</property>


		<mapping class="com.rekest.entities.employes.Employe" />
		
		<mapping class="com.rekest.entities.employes.ChefService" />
		<mapping class="com.rekest.entities.employes.Utilisateur" />

		<mapping class="com.rekest.entities.employes.DirecteurGeneral" />
		<mapping class="com.rekest.entities.employes.Directeur" />
		<mapping class="com.rekest.entities.employes.Gestionnaire" />
		<mapping class="com.rekest.entities.employes.Manager" />
		
		<mapping class="com.rekest.entities.Note" />
		<mapping class="com.rekest.entities.Notification" />
		<mapping class="com.rekest.entities.Produit" />
		<mapping class="com.rekest.entities.Role" />
		<mapping class="com.rekest.entities.Service" />
		<mapping class="com.rekest.entities.Demande" />
		<mapping class="com.rekest.entities.Departement" />
	</session-factory>
</hibernate-configuration>